@font-face{
    font-family: Georgia;
    src: url("fonts/georgia.ttf");
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: Georgia;
    box-sizing: border-box;
    font-size: 13px;
    color: #000;
    width: 100%;
    margin: 0 auto;
}
footer, header{
    font-size: 12px;
    color: #999;
    background-color: #eee;
}
main{
    background: url('../image/background.png') repeat-x;
    margin-bottom: 30px;
}
h1,h2,h3,h4,h5,input {font-family: Georgia;}
.row{ margin: 0 15px; }
#top-hr{
    margin: 0;
    border-top: 1px solid #97455f;
}
.main-hr{
    margin: 0;
    border-top: 5px solid #d2d2d2;
}
#control-hr{margin: 0 30px;}
.header{
    width: 100%;
    background-color: gray;
}
.topbar{
    background-color: #fff;
    padding: 0 -15px;
    border-bottom: 2px #97455f;
 }
.container{
     margin: 0 auto;
     position: relative;
 }
 .top-menu{margin: 0 -30px;}
.icon-topbar{
    padding: 10px;
    border-radius: 50%;
    background-color: #d2d2d2;
}
h5{ margin-top: 0;  }
ul{ margin: 0; padding: 0px; }
ul>li{
    margin: 5px;
    display: block;
    position: relative;
    float: left;
}
ul>li.text-topbar{
    float: right;
    padding: 5px 0;
    color: #97455f;
    background-color: #fff;
    border-radius: 10px;
}
#tongle{
    position: absolute;
    top: 0;
    right: 15px;
}
.link-text{
    color: #97455f;
}
.link-text:hover { color:  #6a3144;}

/*ul>li.text-topbar:hover{    color: #6a3144;}*/

#linkedin-icon:hover{    background-color: #0e76a8;} 
#twitter-icon:hover{    background-color: #00acee;} 
#pinterest-icon:hover{    background-color: #c8232c;} 
#google-icon:hover{    background-color: #db4a39;} 
#rss-icon:hover{    background-color: #ee802f;} 


.header-content{
    background-color: #ebebeb;
    
}
.header-content h1{
    color: #000;
    padding: 10px, 0;
}
.header-content h3{
    color: #999;
    padding: auto;
}
.logo{
    margin: 60px 0 30px -15px; 
}
.search-form{
    float: right;
    margin-top: 60px;
}
/*.search-form input{ margin: 0; })*/
#imaginative{ font-size: 20px; float: left; }
#free-psd{ font-size: 11px; float: left; margin: 10px; }

.submit{
    background: #97455f;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
}
.submit:hover { background-color: #6a3144; }
#search{
    border-radius: 5px;
    border-style: none;
    margin: -5px;
    padding: 8px;
}
#top-submit{
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    margin-right: -30px;
}
.top-navigation{
    padding: 0;
    background:#97455f;
    border-radius: 5px;
}
.top-navigation a{
    color:#fff;
   text-decoration: none;
}
.top-option{
    margin: 0;
   padding: 20px 10px;
}
.top-option:hover {
   background-color: #6a3144;
}
#option-home:hover {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
ul>li>a.text-naviginative{
   color: #fff;
   margin: 0;
   border-radius: 5px;
}

.top-navigation a:hover{
   background-color: #6a3144;
   border-radius: 5px;
}
.contain-slide{
    background: #fff; 
    padding-top: 5px;
}
.slider{
    width: 90%px;
    height: 350px;
    margin: 30px;
    background: url('../image/maxresdefault.jpg') center no-repeat;
    position: relative;
}
.slider-text{
    position: absolute;
    right: 10px;
    bottom: 30px;
    padding: 10px 30px;
    margin:10px;
    background: rgba(255,255,255,0.5);
}

.controls{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
h4{text-align: center;}
.your-title{
    position: relative;
    top: -20px;
    background: url('../image/back-tt.png') center no-repeat;
    
}
.content-part1, .content-part2 {
    color: #999;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content-part1 h5{
    color: #97455f;
}
.content-part2 h5{
    color: #333;
}
.img-64, .img-128{ float: left; }
.text1-content h4{ margin-top: 0; }
.text1-content{ margin-left: 80px; text-align: left; }
.text2-content{ margin-left: 135px; text-align: left; }
.shout{
    padding: 10px;
    margin: 30px;
    background-color: #97455f;
    border-radius: 5px;
}
#text-shout{ 
    float: left; 
    margin: 10px;
    padding: 10px;
}
.shout2{ color: #fff; }
#shout-title{font-size: 36px;}
#shout-ph{font-size: 18px;}
#shout-submit{ 
    font-size: 26px;
    float: right;
    padding: 10px;
    margin: 20px;
    color:#97455f; 
    background-color: #fff;
    border-radius: 5px;
    border-style: none;
}
#shout-submit:hover{
    color: #fff;
    background-color: #6a3144;
} 
/*#shout-submit:hover { 
    color:#fff; 
    background-color: #6a3144;
    border-style: none; 
}*/
.box1{ margin: 20px 0; }
.box1-img{
    float: left; 
    padding: 5px;
    border: 1px solid #bcbcbc;
}
.box1-text{
    margin: 20px;
    position: relative;
    left: 20px;
}
.box1-title{ font-size: 16px; color: #97455f; }
.input-footer{
    width: 100%;
    border-style: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
}
#submit-footer{
    border-radius: 5px;
    background-color: #97455f;
    color: #fff;
}
.footer-box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-box h5 {
    font-size: 16px;
    color: #333;
}
#footer-hr{
    margin: 0;
    border-top: 1px solid #bcbcbc;
}
#link-email{color: #97455f;}
#copyright-left{ float: left; margin: 15px; }
#copyright-right{ float: right; margin: 15px; }
